@import "./variables";
@import "./reset";

html,
body {
  display: flex;
  flex-direction: column;
  background-color: $cream;
  font-size: $primary-font-size;
  font-family: $primary-font-family;
  color: $dark-grayish-blue;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.product-card {
  @include curved-border();
  max-width: $breakpoint-md;
  display: flex;
  flex-direction: row;
  margin: 2rem 1rem;
  &_image {
    display: flex;
    flex: 1 1 50%;
    img {
      width: 100%;
      height: auto;
      object-fit: cover; // Ensures the aspect ratio is maintained
    }
  }
  &_details {
    flex: 1 1 50%;
    background-color: $white;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    &_category {
      letter-spacing: 0.4rem;
      font-size: $tertiary-font-size;
    }
    &_title {
      @include secondary-text($dark-blue);
    }
    &_description {
      line-height: 1.5rem;
    }
    &_price {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1.5rem;
      &-new {
        @include secondary-text($dark-cyan);
      }
      &-old {
        text-decoration: line-through;
      }
    }
    &_btn {
      @include curved-border();
      background-color: $dark-cyan;
      padding: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      &_text {
        font-size: $primary-font-size;
        font-family: $primary-font-family;
        font-weight: $secondary-font-weight;
        color: $white;
      }
    }
    &_btn:hover,
    &_btn:focus {
      background-color: $darker-cyan;
      transition: background-color 250ms ease-in-out;
      appearance: none;
      cursor: pointer;
    }
  }
}

footer.attribution {
  font-size: $tertiary-font-size;
  text-align: center;
  padding: 1rem;
  a {
    color: hsl(228, 45%, 44%);
    &:hover,
    &:focus {
      color: hsl(228, 45%, 14%);
    }
  }
}

@media screen and (max-width: $breakpoint-md) {
  /* Styles for mobile devices */
  .product-card {
    flex-direction: column;
    &_details {
      padding: 1.5rem;
      gap: 1.5rem;
    }
  }
}
